.card-footer-open :hover {
  cursor: pointer;
  margin-left: 2rem;
}

.ikon {
  text-align: justify;
}

.card-title {
  font-weight: 600;
  font-size: larger;
}

.summary {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
}

.description {
  font-weight: 200;
}
